apiVersion: v1
kind: EncryptionConfig
resources:
  - resources:
      - secrets
    providers:
      - secretbox:
          keys:
            - name: secrets_key
              secret: $ENCRYPTION_SECRET